<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a href="#!/home/home.component.html">
      <span id="nome">Componentes</span>
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <!-- Menu da página -->
      <app-menu-list [items]="items"></app-menu-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="body">
    <mat-toolbar color="primary" class="teste">
      <nav>
      </nav>
    </mat-toolbar>
      <!-- conteudo do corpo -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
