<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <p></p>
    <div class="logo">
      <img src="assets/logo_showcase.png">
    </div>
    <mat-nav-list class="menu-list">
      <!-- Menu da página -->
      <br><br>
      <a [routerLink]="'teste'" class="inicial">
        <span id="nome">Página Inicial</span>
      </a>
      <app-menu-list [items]="items"></app-menu-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="body">
    <mat-toolbar class="teste">
      <nav>
      </nav>
    </mat-toolbar>
      <!-- conteudo do corpo -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
