.sidenav-container {
  height: 100%;
}
#nome{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.title {
  text-decoration: none;
}

.sidenav {
  width: 200px;
  background:#009AD9;
}
.sidenav mat-nav-list{
  color: #0c9abe;
  text-decoration: none;
  position: relative;
}

.sidenav .mat-toolbar {
  background: #009AD9;
  color: black;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.teste{
  background: white;
  color:black
}
.body{
  background: white;
}


