<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a href="index.html">
      <span id="nome">ANBIMA</span>
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <!-- Menu da página -->
      <app-menu-list></app-menu-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="body">
    <mat-toolbar color="primary" class="teste">
      <nav>
        <img [src]="srcLogo" onError="this.src= 'assets/ANBIMA.png'" >
      </nav>
    </mat-toolbar>
      <!-- conteudo do corpo -->
    <nav class="navegacao" *ngIf="items?.length > 0">
      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="item.visible">
          <div *ngIf = "item.active" [attr.class]="'item itemNavegacaoAtivo'">{{item.name}}</div>
          <div *ngIf = "!item.active" [attr.class]="'item itemNavegacao'">{{item.name}}</div>
          <div *ngIf="item.filhos?.length > 0">
            <div *ngFor="let filhos of item.filhos">
              {{filhos}}
            </div>
          </div>
        </ng-container>
      </ng-container>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>
