.card {
  max-width: 1000px;
  padding-bottom: 100px;
  border-style: solid;
  border-color: #888888;
  border-radius: 15px;
  position: relative;
  left: 50px;
}
.card .title{
  position:absolute;
  left: 10px;
}

.card .conteudo {
  padding-block-start: 20px;
  position:absolute;
  left: 10px;
  top: 50px;
}

.espaco{
  padding-bottom: 20px;
}

.card #buttonDow {
  bottom: 7.5px;
  position:absolute;
  top: 10px;
  left:900px;
  margin:0px;
  padding:0px;
  height:30px;
}

.card #buttonExp {
  bottom: 7.5px;
  position:absolute;
  top: 10px;
  left:800px;
  margin:0px;
  padding:0px;
  height:30px;
}
