.card {
  margin-top: 30px;
  max-width: 1000px;
  padding-bottom: 80px;
  border-style: solid;
  border-color: #888888;
  border-radius: 15px;
  position: relative;
  left: 50px;
}
.card .title{
  position:absolute;
  left: 10px;
}

.card .conteudo #content {
  padding-block-start: 20px;
  position:absolute;
  left: 10px;
  top: 50px;
  font-family: Arial;
  font-size: medium ;
}

.espaco{
  padding-bottom: 20px;
}

.card #buttonDow {
  bottom: 7.5px;
  position:absolute;
  top: 10px;
  left:930px;
  margin:0px;
  padding:0px;
  height:30px;
}

.card #buttonExp {
  bottom: 7.5px;
  position:absolute;
  top: 10px;
  left:830px;
  margin:0px;
  padding:0px;
  height:30px;
}

.footer {
  position: relative;
  padding: 50px;
  top: 60px;
  right: 40px;
  font-family: Arial;
}

hr{
  border-top: 1px solid #888888;
  width: 1000px;
  position: relative;
  top: 110px;
}
