<div *ngIf="componentes.length > 0">
  <div *ngFor="let comp of componentes">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="title">{{comp.name}}</mat-card-title>
          <button mat-button id="buttonDow">Download</button>
          <button mat-button id="buttonExp">Exemplo</button>
      </mat-card-header>
      <p class="conteudo">
        <mat-card-content id="content">
          {{comp.conteudo}}
        </mat-card-content>
      </p>
      <hr>
      <mat-card-actions class="footer">
        <span>Angular Cli 7.2.0 | </span>
        <span>{{comp.name}} 3.2.1</span>
      </mat-card-actions>
    </mat-card>
    <p class="espaco"></p>
  </div>
</div>
